@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body {
   font-family: Mulish;
}

.wrapper {
   display: flex;
}

.doctor__logo {
   margin-top: 135px;
   margin-left: 240px;
}

li {
   display: flex;
}

.list__item__one {
   display: flex;
   margin-top: 149px;
   font-family: Mulish;
   font-size: 18px;
   font-weight: 700;
   line-height: 23px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 512px;
   color: #1F1534;
}

.list__item__two {
   font-family: Mulish;
   font-size: 18px;
   font-weight: 400;
   line-height: 23px;
   letter-spacing: 0em;
   text-align: left;
   margin-top: 149px;
   margin-left: 40px;
   color: #1F1534;
}

ul {
   display: flex;
}

.list__item__three {
   font-family: Mulish;
   font-size: 18px;
   font-weight: 400;
   line-height: 23px;
   letter-spacing: 0em;
   text-align: left;
   color: #1F1534;
   margin-left: 40px;
   margin-top: 149px;
}

.list__item__four {
   font-family: Mulish;
   font-size: 18px;
   font-weight: 400;
   line-height: 23px;
   letter-spacing: 0em;
   text-align: left;
   color: #1F1534;
   margin-top: 149px;
   margin-left: 40px;
}

.list__item__five {
   font-family: Mulish;
   font-size: 18px;
   font-weight: 400;
   line-height: 23px;
   letter-spacing: 0em;
   text-align: left;
   color: #1F1534;
   margin-top: 149px;
   margin-left: 40px;
}

.virtual__text__one {
   margin-top: 90px;
   font-family: Mulish;
   font-size: 48px;
   font-weight: 700;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: left;
   max-width: 427px;
   color: #000000;
   margin-top: 190px;
   margin-left: 246px;
}

.virtual__text__two {
   font-family: Mulish;
   font-size: 21px;
   font-weight: 300;
   line-height: 32px;
   letter-spacing: 0em;
   text-align: left;
   margin-top: 25px;
   margin-left: 246px;
   max-width: 445px;
   color: #7D7987;
}

.virtual__button {
   font-family: Mulish;
   font-size: 18px;
   font-weight: 700;
   line-height: 60px;
   letter-spacing: 0em;
   text-align: left;
   color: #ffff;
   background: #458FF6;
   margin-top: 48px;
   margin-left: 246px;
   border: 0px;
   border-radius: 55px;
   padding: 3px 40px 1px 40px;
}

.virtual__wrapper {
   display: flex;
}

.virtual__image {
   margin-left: 109px;
}

.virtual__image__one {
   margin-top: 84px;
   width: 693px;
   height: 598px;
}

.service__text__one {
   font-family: Mulish;
   font-size: 36px;
   font-weight: 700;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: left;
   margin-top: 171px;
   margin-left: 799px;

}

.service__text__two {
   font-family: Mulish;
   font-size: 18px;
   font-weight: 300;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: center;
   max-width: 952px;
   margin-left: 427px;
}

.service__card__one {
   box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
   margin-left: 344px;
   margin-top: 78px;
   border: 0px;
   border-radius: 20px;

}

.service__text__four {
   margin-top: 1px;
   max-width: 261px;
   font-family: Mulish;
   font-size: 16px;
   font-weight: 300;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: left;
   color: #7D7987;
   margin-left: 37px;
   padding-right: 52px;
}

.service__text__three {
   margin-top: 19px;
   font-family: Mulish;
   font-size: 24px;
   font-weight: 700;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 37px;
}

.service__img__one {
   margin-left: 37px;
}

.service__cards {
   display: flex;
}

.service__card__two {
   box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
   margin-left: 85px;
   margin-top: 78px;
   border: 0px;
   border-radius: 20px;
}

.service__img__two {
   margin-left: 37px;
}

.service__text__five {
   margin-top: 19px;
   font-family: Mulish;
   font-size: 24px;
   font-weight: 700;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 37px;
}

.service__text__six {
   margin-top: 1px;
   max-width: 261px;
   font-family: Mulish;
   font-size: 16px;
   font-weight: 300;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: left;
   color: #7D7987;
   margin-left: 37px;
   padding-right: 52px;
}

.service__img__three {
   margin-left: 37px;
}

.service__card__three {
   box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
   margin-left: 85px;
   margin-top: 78px;
   border: 0px;
   border-radius: 20px;
}

.service__text__eight {
   font-family: Mulish;
   font-size: 24px;
   font-weight: 700;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 38px;
   margin-top: 24px;

}

.service__text__nine {
   margin-right: 50px;
   max-width: 261px;
   margin-left: 39px;
   margin-top: 1px;
   font-family: Mulish;
   font-size: 16px;
   font-weight: 300;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: left;
   color: #7D7987;
}

.service__card__four {
   margin-left: 344px;
   margin-top: 37px;
   box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
   border: 0px;
   border-radius: 20px;
}

.service__cards__two {
   display: flex;
}

.service__text__eleven {
   max-width: 261px;
   font-family: Mulish;
   font-size: 16px;
   font-weight: 300;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: left;
   color: #7D7987;
   margin-right: 50px;
   margin-top: 1px;
   margin-bottom: 47px;
   margin-left: 38px;
}

.service__text__then {
   font-family: Mulish;
   font-size: 24px;
   font-weight: 700;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 38px;
   margin-top: 25px;
}

.service__img__four {
   margin-left: 39px;
   margin-top: 46px;
}

.service__card__five {
   margin-top: 37px;
   box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
   border: 0px;
   border-radius: 20px;
   margin-left: 34px;
}

.service__img__five {
   margin-left: 39px;
   margin-top: 46px;
}

.service__card__text__one {
   font-family: Mulish;
   font-size: 24px;
   font-weight: 700;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 38px;
   margin-top: 25px;
}

.service__card__text__two {
   max-width: 261px;
   font-family: Mulish;
   font-size: 16px;
   font-weight: 300;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: left;
   color: #7D7987;
   margin-right: 47px;
   margin-bottom: 47px;
   margin-left: 38px;
}


.service__card__six {
   margin-top: 37px;
   box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
   border: 0px;
   border-radius: 20px;
   margin-left: 34px;
}

.service__card__text__three {
   font-family: Mulish;
   font-size: 24px;
   font-weight: 700;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 38px;
   margin-top: 25px;
}

.service__card__text__four {
   max-width: 261px;
   font-family: Mulish;
   font-size: 16px;
   font-weight: 300;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: left;
   color: #7D7987;
   margin-right: 50px;
   margin-bottom: 47px;
   margin-left: 38px;
}

.service__img__six {
   margin-left: 39px;
   margin-top: 46px;
}

.service__btn {
   font-family: Mulish;
   font-size: 18px;
   font-weight: 700;
   line-height: 60px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 804px;
   margin-top: 74px;
   padding: 3px 51px 1px 51px;
   border: 1px solid;
   border-color: #458FF6;
   border-radius: 55px;
   background-color: #fff;
   color: #458FF6;
   cursor: pointer;
}



.health__img {
   width: 650px;
   height: 477px;
   margin-left: 135px;
   margin-top: 162px;
}

.health__text__one {
   max-width: 481px;
   margin-top: 219px;
   font-family: Mulish;
   font-size: 36px;
   font-weight: 700;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 142px;
   color: #000000;
}

.health__wrapper{
   display: flex;
}

.health__text__two {
   margin-top: 59px;
   margin-left: 142px;
   max-width: 450px;
   font-family: Mulish;
   font-size: 18px;
   font-weight: 300;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: left;
}
